@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$blanco;

    @include m.tablet {
        &.fixed {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            box-shadow: .1rem .2rem .3rem #333;
        }
    }

    

    .contenido-header {
        padding: 2rem; // asigna pading a la informacio contenida en la etiqueta con contenido-header
        @include m.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
    }

    .logo {
        background-image: url('/src/img/gallery/full/logopeqfondoblanco(2).png');
        max-width: 20%;
        margin-top: 0;
    }

    h1 {
        color: v.$negro;
        text-align: center; // centramos el texto
        @include m.tablet{
            text-align: left; // alineamos el texto a la izquierda 
            margin: 0; // alinea los heading uno a cada lado con el space betwen del .contenido header
        }
    }//detecta que su elemento padre es el header y asigna la propiedad de css al h1 que pertenece a ese header, ver el contraste vs css como compila en build/css/app.css
}

.navegacion-principal {
    display: flex; //me da acceso al agap
    flex-direction: column; //los elementos se apilan uno debajo del otro
    align-items: center;
    gap: 2rem; //separa los elementos
    @include m.tablet {
        flex-direction: row; // las pantallas de tablet arriba muestran la navegacion horizontal    
    }
    a {
        color: v.$negro;
        font-size: 2.4rem;
        &:hover,
        &.active { //el ampersant une la a y el hover si no la ponemos la deja como elemento separado y no funcionaria el :hover
            color: v.$amarillo;
        }
    }
}

